@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@font-face {
	font-family: "Spectral";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local("Spectral"), url("/fonts/Spectral-Light.ttf") format("ttf");
} */

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	transition: all 0.2s ease-out;
	font-family: "Spectral", sans-serif;
}

p,
input,
button {
	font-family: "Spectral", sans-serif;
}

@media screen and (prefers-reduced-motion: reduce) {
	html,
	body {
		scroll-behavior: auto;
	}
}

/* body::-webkit-scrollbar {
  background-color: rgba(0 0, 0, 0);
	width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: pink;
} */

body {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

a {
	text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

img {
	max-width: 100%;
	display: block;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

p {
	font-size: 1.5rem;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


input[type="text"],
input[type="email"] {
	padding-left: 0.25rem;
	padding-top: 0.1rem;
}

input:hover {
	background-color: wheat;
}
