@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	/* transition: all 0.2s ease-out; */
}

@media screen and (prefers-reduced-motion: reduce) {
	html,
	body {
		scroll-behavior: auto;
	}
}

/* body::-webkit-scrollbar {
  background-color: rgba(0 0, 0, 0);
	width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: pink;
} */

body {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

a {
	text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

img {
	max-width: 100%;
	display: block;
}
