.marquee-container {
	position: relative;

	overflow: hidden;
	--offset: 100px;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
}

.marquee {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 120s linear infinite;
	animation-play-state: paused;
}

.marquee-container p {
	font-size: 18px;
	padding: 0 0vw;
	display: block;
	margin-top: 12px;
	margin-bottom: 12px;
	text-overflow: clip;
	width: full;
	white-space: nowrap;
}

.marquee-container .marquee {
	animation-play-state: running;
	animation-direction: alternate;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}
