.pad {
	padding: 1rem;
}

.padVrt {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.mrg {
	margin: 1rem;
}

.mrgBot {
	margin-bottom: 1rem;
}

.mrgTop {
	margin-bottom: 1rem;
}

.mrgR {
	margin-right: 1rem;
}

.mrgVrt {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.rad {
	border-radius: 10px;
}

.spread {
	display: flex;
	justify-content: space-between;
	/* width: 100%; */
}
